#home-button-div section{
    background-color: rgba(219, 219, 219, 0.753);
    margin: -0.5%;
    padding: 0.75% 1.25%;
}

#home-button{
    margin: 1%;
    padding: 0.5%;
    font-size: 1.1vw;
    border: 0.13vw solid dodgerblue;
    background-color: dodgerblue;
    color: white;
    font-family: 'Open Sans';
    font-size: 1vw;
    letter-spacing: 0.15vw;
    font-weight: bold;
    
}

#home-button:hover{
    color: dodgerblue;
    background-color: white;
}

#top-section{
    text-align: center;
    margin: 5%;
    font-size: 3vw;
    font-family: 'Open Sans';
    letter-spacing: 0.45vw;
}