{% extends "base.html" %}
{% block title %}Stored Images | Image Drive{% endblock%}

{%block script%}
    <script>

        let imagesArray = {{ imagesArray | tojson }};
        

        function addImage(){

            console.log(imagesArray);
            if("{{boolean}}" == "True"){
                if(imagesArray==null || imagesArray.length == 0){
                    var noImageMessage = document.createElement("div");
                    var noImageMessageDiv = document.getElementById("no-images-message")
                    
                    noImageMessage.innerText = "No Images On This Account";

                    noImageMessageDiv.appendChild(noImageMessage);
                }
                else{
                    for(var index = 0;index<imagesArray.length;index++){
                        console.log(imagesArray[index]);
                        var storage = firebase.storage();

                        var pathRef = storage.ref(imagesArray[index][2]+"/"+imagesArray[index][1]);
                        var downloadURL = pathRef.getDownloadURL().then((url) => {

                            var imgSize = [];
                            var currentIMG = new Image();
                            currentIMG.src = url;
                            var widthHeightArr = currentIMG.addEventListener("load", imgSize = getImageSize(currentIMG));
                            var img = document.createElement("a");     

                            img.style.backgroundImage = "url('"+url+"')";

                            console.log(imgSize);
                            if(imgSize[0] !=0 && imgSize[1] !=0){

                                var ratio = imgSize[0]/imgSize[1];
                                var imageWidth = 15;

                                if(imgSize[0] < imgSize[1]){
                                    img.style.width = "15vw";
                                    imageWidth = 15;
                                }
                                else{
                                    img.style.width = "25vw";
                                    imageWidth = 25;
                                }

                                img.style.height = (imageWidth/ratio)+"vw";
                                img.href = url;
                                //img.download = "img";

                                var parent = document.getElementById("images");
                                parent.appendChild(img);
                            }
                        })
                    }    
                }
            }
        }

        function getImageSize(img){
            return [img.naturalWidth, img.naturalHeight];
        }

    </script>
{%endblock%}

{% block style%}
    <style>
        #top-section{
            border-bottom: 0.1vw solid black;
            text-align: center;
            margin: 0.75% -0.4%;
            font-size: 2.25vw;
            font-family: 'Kelly Slab';
            letter-spacing: 0.45vw;
            color: black;
            padding: 1.25%;
        }

        #top-section h4{
            font-size: 0.5vw;
            letter-spacing: 0.2vw;
        }

        #no-images-message{
            margin-top: 6.5%;
            text-align: center;
            font-family: 'Kelly Slab';
            font-size: 1.25vw;
            letter-spacing: 0.05vw;
        }

        #images{
            margin-top:-0.5%;
        }

        #images a{
            display: inline-block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0.15%;
            border: none;
        }

        #images a:hover{
            opacity: 0.35;
        }
    </style>
{% endblock %}

{% block content%}
<body onload="addImage()">
    <div id = "top-section">
        <h2>STORED IMAGES</h2>
        <h4>(RELOAD SITE IF IMAGES DO NOT APPEAR)</h4>
    </div>
    
    <div id="images">

    </div>
    <div id="no-images-message">
        
    </div>
</body>
{%endblock%}