{% extends "base.html" %}
{% block title %}Stored Images | Image Drive{% endblock%}

{%block script%}
    <script>

        let imagesArray = {{ imagesArray | tojson }};

        function addImage(){

            var parent = document.getElementById("images");
            console.log(imagesArray.length)

            if("{{boolean}}" == "True"){
                if(imagesArray.length == 0 || imagesArray==null){
                    var noImageMessage = document.createElement("div");
                    var noImageMessageDiv = document.getElementById("no-images-message")
                    
                    noImageMessage.innerText = "No Images On This Account";

                    noImageMessageDiv.appendChild(noImageMessage);
                    console.log("No Images");
                }
                else{

                    // for loop
                    var img = document.createElement("button");
                    parent.appendChild(img);
                    for(var i=0;i<imagesArray.length;i++){
                        console.log(imagesArray[i][1]);
                    }
                }
            }
        }


    </script>
{%endblock%}

{% block style%}
    <style>
        #top-section{
            border-bottom: 0.1vw solid black;
            text-align: center;
            margin: 0.75% -0.4%;
            font-size: 2.25vw;
            font-family: 'Open Sans';
            letter-spacing: 0.45vw;
            color: black;
            padding: 1.25%;
        }

        #no-images-message{
            margin-top: 6.5%;
            text-align: center;
            font-family: 'Kelly Slab';
            font-size: 1.25vw;
            letter-spacing: 0.05vw;
        }

        #images{
            margin-top:-0.5%;
        }
    </style>
{% endblock %}

{% block content%}
<body onload="addImage()">
    <div id = "top-section">
        <h2>STORED IMAGES</h2>
    </div>
    <div id="images">

    </div>
    <div id="no-images-message">
        
    </div>
</body>
{%endblock%}