{% extends "base.html" %}
{% block title %}Stored Images | Image Drive{% endblock%}

{%block script%}
    <script>

        let imagesArray = {{ imagesArray | tojson }};

        function addImage(){
            if("{{boolean}}" == "True"){
                if(imagesArray.length == 0 || imagesArray==null){
                    var noImageMessage = document.createElement("div");
                    var noImageMessageDiv = document.getElementById("no-images-message")
                    
                    noImageMessage.innerText = "No Images On This Account";

                    noImageMessageDiv.appendChild(noImageMessage);
                }
                else{
                    var parent = document.getElementById("images");
                    for(var index = 0;index<imagesArray.length;index++){
                        var img = document.createElement("button");                        
                        relativeReference = imagesArray[index][1].replaceAll("\\", "/");
                        console.log(relativeReference);
                        console.log(imagesArray);
                        img.style.backgroundImage = "url('"+relativeReference+"')";

                        var ratio = imagesArray[index][3]/imagesArray[index][4];
                        var imageWidth = 15;

                        if(imagesArray[index][3] < imagesArray[index][4]){
                            img.style.width = "15vw";
                            imageWidth = 15;
                        }
                        else{
                            img.style.width = "24vw";
                            imageWidth = 25;
                        }

                        img.style.height = (imageWidth/ratio)+"vw";
                        parent.appendChild(img);
                    }                   
                }
            }
        }
    </script>
{%endblock%}

{% block style%}
    <style>
        #top-section{
            border-bottom: 0.1vw solid black;
            text-align: center;
            margin: 0.75% -0.4%;
            font-size: 2.25vw;
            font-family: 'Open Sans';
            letter-spacing: 0.45vw;
            color: black;
            padding: 1.25%;
        }

        #no-images-message{
            margin-top: 6.5%;
            text-align: center;
            font-family: 'Kelly Slab';
            font-size: 1.25vw;
            letter-spacing: 0.05vw;
        }

        #images{
            margin-top:-0.5%;
        }

        #images button{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0.15%;
            border: none;
        }

        #images button:hover{
            opacity: 0.35;
            
        }
    </style>
{% endblock %}

{% block content%}
<body onload="addImage()">
    <div id = "top-section">
        <h2>STORED IMAGES</h2>
    </div>
    <div id="images">

    </div>
    <div id="no-images-message">
        
    </div>
</body>
{%endblock%}