{% extends "base.html" %}

{% block title %} Login | Image Drive {%endblock%}

{%block style %}
    <style>
        #top-section{
            text-align: center;
            margin: 4%;
            font-size: 2.25vw;
            font-family: 'Open Sans';
            letter-spacing: 0.45vw;
        }
        
        .credentials-div{
            text-align: center;
            margin: 0.5%;
            padding: 2%;
            font-family: 'Open Sans';
            font-size: 1.15vw;
        }
        
        .input-field{
            padding: 0.35%;
            font-size: 1vw;
            margin: 1.25% 2.5%;
            width: 25%;
            border: 0.15vw solid rgba(168, 21, 21, 0.911);
            box-sizing: border-box;
        }
        
        .submit-button{
            border: 0.01vw solid dodgerblue;
            padding: 0.6% 0.8%;
            margin: 2%;
            font-size: 0.75vw;
            letter-spacing: 0.125vw;
            font-family: 'Open Sans';
            font-weight: bold;
            color: dodgerblue;
            background-color: white;
        }
        
        .submit-button:hover{
            background-color: dodgerblue;
            color: white;
            cursor: pointer;
        }

        ::placeholder{
            font-family: 'Open Sans';
        }

        #error{
            text-align: center;
            font-family: 'Kelly Slab';
            text-transform: uppercase;
            letter-spacing: 0.12vw;
            font-size: 0.8vw;
        }
    </style>
{%endblock%}


{% block content %}
    <div id="top-section">
        <h3>
            Login
        </h3>
    </div>

    <div id="login-div" class="credentials-div">
        <form id = "login-form" class="credentials" method="POST">
            <input type="text" id="email" class = "input-field" name="email" placeholder="Email"><br>
            <input type = "password" id="password" class="input-field" name = "password" placeholder="Password"><br>
            <button class="submit-button"> Submit </button>
        </form>
    </div>

    <div id="error">{{error}}</div>
{% endblock%}

