{% extends "base.html" %}

{%block title%} Personal Drive | Image Drive {%endblock%}
{%block script%}<script src="{{ url_for('static', filename='js/personal.js')}}"></script>{%endblock%}


{% block style %}
    <style>
        #title-div{
            text-align: center;
            margin: 1.5%;
            font-family: 'Open Sans';
            font-size: 1.75vw;
            letter-spacing: 0.08vw;
            padding: 1.75%;
            color: black;
            font-weight: bold;
        }

        #options{
            text-align: center;
            margin: 1.5%;
        }

        #options button{
            padding: 0.45% 0.85%;
            margin: 1%;
            font-size: 0.85vw;
            background-color: white;
            border: 0.06vw solid dodgerblue;
            color: dodgerblue;
            font-family: 'Kelly Slab';
            letter-spacing: 0.1vw;
        }

        #options button:hover{
            background-color: dodgerblue;
            color:white;
            cursor: pointer;
        }
    </style>
{%endblock%}

{% block content%}
    <div id = "title-div">
        <h2>Personal Home</h2>
    </div>
    <div id="options">
        <p>
            <button id="load-images-button" onclick="loadImagesSite()">Load Images</button>
            <button id="upload-images-button" onclick="uploadImagesSite()"> Upload Images</button>
        </p>
    </div>
{%endblock%}
