{% extends "base.html" %}
{% block title %} Sign Up | Image Drive {%endblock%}

{% block style %}
    <style>
    #top-section{
        text-align: center;
        margin: 4%;
        font-size: 2.25vw;
        font-family: 'Open Sans';
        letter-spacing: 0.45vw;
    }

    .credentials-div{
        text-align: center;
        margin: 2%;
        padding: 2%;
        font-family: 'Open Sans';
        font-size: 1.15vw;
    }

    .input-field{
        padding: 0.25%;
        font-size: 0.9vw;
        margin: 1.25% 2.5%;
        width: 25%;
        border: 0.08vw solid;
        box-sizing: border-box;
    }

    .submit-button{
        border: 0.01vw solid dodgerblue;
        padding: 0.85% 1%;
        margin: 2.95%;
        font-size: 0.9vw;
        letter-spacing: 0.125vw;
        font-family: 'Open Sans';
        font-weight: bold;
        color: dodgerblue;
        background-color: white;
    }

    .submit-button:hover{
        background-color: dodgerblue;
        color: white;
    }

    ::placeholder{
        font-family: 'Open Sans';
    }
    </style>
{% endblock %}

{% block content %}
    <div id="top-section">
        <h3>
            Sign Up
        </h3>
    </div>

    <div id="signup-div" class="credentials-div">
        <form id = "signup-form" class="credentials" method="POST">
            <input type="text" id="first-name" name="firstName" class="input-field" placeholder="First Name"><br>
            <input type="text" id="last-name" name = "lastName" class="input-field" placeholder="Last Name"><br>
            <input type="text" id="email" name="email" class = "input-field" placeholder = "Email"><br>
            <input type = "password" id="password" name="password" class="input-field" placeholder = "Password"><br>
            <button class="submit-button"> Submit </button>
        </form>
    </div>
{%endblock%}

{{error}}
