{% extends "base.html" %}

{%block title%} Upload Images {%endblock%}

{% block style%}
    <style>
        #top-section{
            border-bottom: 0.15vw solid black;
            text-align: center;
            margin: 2.5%;
            font-size: 2.75vw;
            font-family: 'Open Sans';
            letter-spacing: 0.45vw;
            color: black;
            padding: 3.5%;
            font-weight: bold;
        }
    </style>
{%endblock%}

{%block content%}
    <div id="top-section">
        UPLOAD IMAGES
    </div>
{%endblock%}